.contacto{
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    padding: 70px 20px;
}

.contacto a{
    display: inline-block;
    text-decoration: none;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 7px;
    transition: 0.7s;
    font-weight: 400; 
    margin-bottom: 20px;
    font-size: 15px;  
}

.contacto a:hover{
    background-color: #014a97;
}

.contacto p{
    padding-top: 10px;
    padding-bottom: 30px;
}


.contco{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.contco-item{
    width: 300px; 
    height: 150px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.contco2{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    width: 300px;
    height: 90px;
}

.contco2 i{
    padding-right: 14px;
}

.contco-item h4 {
    margin-bottom: 10px;
}

.contco2 p {
    margin: 0;
    padding-top: 35px;
}