/*Footer*/

.linea{
    border: 0; 
    height: 1px; 
    background-color: grey;
}

.pie {
    display: flex;
    justify-content: space-between;
    padding-top: none;
    color: rgba(0,0,0,0.6);
    font-size: 13px;
}