.hero{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 85vh;
    background: #ffffff no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 180px;
}

.hero-content{
    max-width: 500px;
    padding-top: 80px;
    
}

.hero-content h2{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.hero-content h2 span {
    background-color: white;
    color: #575454;
    padding: 1px 4px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    border: 1px solid #575454;
    margin-left: 10px;
}

.hero-content h1{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin: -3px 0;
    padding-bottom: 25px;
}

.hero-content p{
    padding-bottom: 30px;
    width: 600px; 
    color: rgba(0,0,0,0.6);
}

.hero-content a{
    display: inline-block;
    text-decoration: none;
    background-color: #007bff;
    color: white;
    font-size: 15px;
    padding: 10px;
    border-radius: 7px;
    transition: 1s;
    font-weight: 400;   
    margin-bottom: 10px;
}

.hero-content a:hover{
    background-color: #014a97;
}

.hero-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #007bff;
    border-radius: 50%;
    color: #007bff;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: 2s;

}
.hero-icons a:hover{
    background-color: #007bff;
    color: #ffffff;
}

.hero-content h5{
    display: inline-flex;
    padding-top: 20px;
    font-size: 12px;
    font-weight: 400;
    margin: -3px 0;
    padding-bottom: 15px;
    font-weight: 600;
    margin-right: 15px;
}

.hero-content h5 span{
    color: #007bff;
    margin-right: 5px;
}

.hero img {
    position: relative;
    border: 2px solid white;
    border-radius: 20px; /* Bordes redondeados */
    width: 250px;
    height: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sombra */
    z-index: 1;
}