.habilidades{
    width: 100%;
    background-color: #d0e1f9;
    text-align: center;
    padding: 70px 180px;
}


.habilidades p{
    padding-bottom: 60px;
}

.contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.contenedor-item{
    width: 170px; 
    height: 210px;
    border-radius: 10px;
    padding: 20px 60px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    background-color: #ffffff;
    transition: background-color 1s;
}

.contenedor-item:hover{
    background-color: #0078d4;
}

.contenedor-item i{
    font-size: 40px;
    margin-bottom: 10px;
    color: #333333;
    padding-bottom: 30px;
}

.contenedor-item h2 {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0078d4; 
    transition: color 0.5s;
}

.contenedor-item:hover h2{
    color: #ffffff;
}

.contenedor-item h4 {
    font-size: 18px;
    color: #333333;
}